.main_layout{
    padding: 0 24px 24px;
}
.main_breadcrumb{
    margin: 16px 0;
}
.main_content{
    padding: 24px;
    margin: 0;
    min-height: 280px;
    background: #fff;
}
.site-card-wrapper {
    background: #ececec;
    padding: 24px;
    margin-bottom: 24px;
  }